numpy~=1.18.1
pylatex~=1.4.1
pyyaml~=5.4.1
wheel
pyqt5~=5.14.2
cairosvg~=2.4.2
yaml~=0.1.7
pandas~=1.2.3
pynput~=1.7.3
openpyxl~=3.0.7
pygithub~=1.54.1
prettytable~=3.4.1
colorama~=0.4.5
conda~=4.8.3
xlsxwriter~=1.2.8
requests~=2.14.0